<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/image/Reaper.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录，to be a Reaper!</title>
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>
    <div class="main">
        <p class="title">Login</p>
        <span id="login-name">用户名</span>
        <input type="text" id="name">
        <br>
        <br>
        <br>
        <br>
        <span id="login-password">密码</span>
        <input type="password" id="password">

        <button id="loginIn">Start to chat</button>
    </div>
    <script src="../js/login.js"></script>
</body>
</html>